.stage{
    margin: 20px auto 0;
    position: relative;
    border-style: dashed;
    width: 350px;
    height: 200px;
    background-color: powderblue;
}

.maze{
    top: 200px;
    left: -3px;
    position: relative;
    border-style: outset;
    width: 350px;
    height: 350px;
    background-color: gray;
}

.timeline_pt{
    position: relative;
    width: 16px;
    height: 16px;
    background-image: url("./resource/image/timeline_pointer.png");

}

.move_bar{
    position: absolute;

    background-image: url("./resource/image/move_bar.png");
}


.timeline{
    position: absolute;
    background-image: url("./resource/image/character_timeline.png");
}

.start_pause_false{
    position: absolute;
    top: 150px;
    left: 130px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: contain;

    background-image: url("./resource/image/start_icon.png");

}
.start_pause_false:active{
    background-image: url("./resource/image/start_icon_p.png");
}
.start_pause_false:focus{
    outline:0;
}
.start_pause_true{
    position: absolute;
    top: 150px;
    left: 130px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url("./resource/image/pause_icon.png");
    background-size: contain;

}
.start_pause_true:active{
    background-image: url("./resource/image/pause_icon_p.png");
}
.start_pause_true:focus{
    outline:0;
}

.reset{
    position: absolute;
    top: 150px;
    left: 170px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url("./resource/image/reset_icon.png");
    background-size: contain;
}
.reset:active{
    background-image: url("./resource/image/reset_icon_p.png");
}
.reset:focus{
    outline:0;
}