.timeline{
    margin: 20px auto 0;
    position: relative;
    border-style: dashed;
    width: 350px;
    height: 200px;
    background-color: powderblue;
}

.timeline_pt{
    position: relative;

    width: 16px;
    height: 16px;
    background-image: url("./resource/image/timeline_pointer.png");

}

.move_bar{
    position: absolute;

    background-image: url("./resource/image/move_bar.png");
}


.time_line{
    position: absolute;
    background-image: url("./resource/image/character_timeline.png");
}